body{
    background-color:rgb(29, 93, 63);

}

.card{
    margin: 5px;
}

a{
    color: yellow;
    margin: 5px;
}

h2{
    text-align: center;
    font-style: italic;

}

h4{
    text-align: center;
    font-style: italic;
}
