{%layout 'layout.liquid' %}
// i need to make this only post on users page
{% block content %}
<div class="container-mn" style="color: yellow;">
<form action="/parks/{{park.parkCode}}" method="PATCH">
    <fieldset>
        <legend style="color: yellow;">Edit Comment</legend>
        <label class="form-lable">Comment:</label>
            <input 
                class="form-control"
                type="text" 
                name="comment"
                placeholder="Enter Comment"
            >
    </fieldset>
    <div class="btn-group">
        <input 
            type="submit" 
            class="btn btn-success"   
        >
        <a href="/parks" class="btn btn-warning">Nevermind</a>
        </div>
</form>
</div>


{% endblock %}