{% layout 'layout.liquid' %}

{% block content%}
<div>
    <h2 class="display-2" style=color:yellow;>View Parks</h2>
    <h6 style="color: yellow;">Click On Any Park</h6>
    <div class="row">
        {% for park in park %}
            <a href="/parks/{{park.parkCode}}" style="width: 25rem; color:yellow;">{{park.fullName}}</a>
        {% endfor %}
    </div>

</div>
{% endblock %}