{% layout 'layout.liquid' %}

{% block content %}
<div class="container-mn">
<form action="/parks" method="POST">
    <fieldset>
        <legend>Creat A New Park</legend>
        <label class="form-lable">Name:</label>
        <input 
            class="form-control"
            type="text" 
            name="name" 
            placeholder="enter name"
        >
        <label class="for-label">Color:</label>
        <input 
            class="form-control"
            type="text" 
            name="color" 
            placeholder="enter color"
        >
        <label class="form-label">Ready To Eat:</label>
        <input 
            class="form-check-input"
            type="checkbox" 
            name="readyToEat"
        >
    </fieldset>
    <input type="submit" value="Create New Park" class="btn btn-success">
</form>
</div>
{% endblock %}