{%layout 'layout.liquid' %}
// i need to make this only post on users page
{% block content %}
<form action="/mine" method="POST">

    <input 
    type="text" 
    fullName="fullName" 
    placeholder="enter name"
    >

    <input 
    type="text" 
    name="city" 
    placeholder="enter city"
    >

    <input 
    type="text" 
    name="stateCode" 
    placeholder="enter state code">

    <input 
    type="number" 
    name="entranceFees" 
    placeholder="enter fee"
    >
    
    <input
    type="text" 
    name="description" 
    placeholder="enter description"
    >

    <input 
    type="submit" 
    value="Create New Park"
    >

</form>
{% endblock %}




