

{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-6" style="color:yellow;">All Parks</h2>
    <a href="/parks/new" class="nav-link" style="color:yellow;">Add New Park</a>
    <div class="row">

            <div class="card" style="width: 22rem">
                <h5 class="card-header">{{park.name}}</h5>
                <div class="card-body" style="background-color:rgb(29, 93, 63);">
                    <a href="/mine"  style="width: 25rem; color:yellow;">View Park</a>  
                    
            
                </div>
            </div>
    
    </div>
</div>
{% endblock %}